.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;

  padding: 20px 0;
  background-color: #0d6efd;

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
  }

  .form {
    position: relative;
    // border: transparent;
  }

  .search-input {
    height: 40px;
    min-width: 300px;
    border-radius: 8px;
    border: transparent;
  }

  .form-btn {
    position: absolute;
    right: 0;
    height: 40px;
    cursor: pointer;
    width: 40px;
    outline: none;
    border: none;
    border-left: 1px solid grey;
    background-color: transparent;
  }
}
